.raiz{
    color: #638ca1;
}

.section-2{
    background-color: #9ec5d6;
    background-image: var(--bs-gradient);
}

.section-nos{
    background-color: #EFEEED;
    padding-top: 2rem;
}

.section-nos-description{
    text-align: center;
}

.section-2-nos--description{
    color: #8A99A1;
}

.titulos-nos{
    color: #8A99A1;
}

.titulos-nos-2{
    color: #223466;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.section-consul{
    background-color: #EFEEED;
}
